<mat-toolbar color="primary">
  <span>TodoList application</span>
</mat-toolbar>

<div class="input-todo">
  <mat-form-field>
    <mat-label [class.error]="isEmptyTitle">{{label}}</mat-label>
    <input type="text" matInput [(ngModel)]="title">
  </mat-form-field>
  <button (click)="addTodolist()" mat-mini-fab color="primary">
    <mat-icon>add</mat-icon>
  </button>
</div>

<div class="todo">
  <div *ngFor="let todolist of todoLists">
    <app-todo-list [todoList]="todolist"
                   (addTaskEmit)="onAddTask($event)"
                   (deleteTaskEmit)=onDeleteTask($event)
                   (updateTaskEmit)="onUpdateTask($event)"
                   (deleteTodolistEmit)="onDeleteTodolist($event)"
                   (updateTodolist)="onUpdateTodolist($event)">
    </app-todo-list>
  </div>
</div>


