<div class="todolist-container">
  <h5 *ngIf="!isEdit" (dblclick)="toggleIsEditTitle()">{{todoList?.title | uppercase}}</h5>
  <input *ngIf="isEdit" #title type="text"
         (blur)="editTodolistTitle(title.value)"
         [value]="todoList?.title"/>
  <button (click)="deleteTodolist()">x</button>
  <div>
    <input placeholder="название задачи" [(ngModel)]="title">
    <button (click)="addTask(title.trim())">+</button>
  </div>
  <span *ngIf="errorMessage !== ''&& title === ''" class="error-message">{{errorMessage}}</span>
  <ul>
    <li *ngFor="let task of filteredTaskByStatus?.tasks">
      <input type="checkbox" [checked]="task.completed" (click)="toggleTaskCompleted(task)"/>
      <span [class.completed]="task.completed">
        {{task.title}}
      </span>
      <button (click)="deleteTask(task)">x</button>
    </li>
  </ul>
  <button (click)="filterAll()">all</button>
  <button (click)="filterActive()">active</button>
  <button (click)="filterCompleted()">completed</button>
</div>


