h5 {
  display: inline-block;
}

.completed {
  text-decoration: line-through;
  color: #797979;
  opacity: 0.5;
}

.card {
  width: 300px;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.error {
  color: red;
}

.content {
  height: 140px;
  overflow-y: auto;
}

.content-task, .header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h4 {
  overflow: hidden;
}
