.todolist-container {
  margin: 10px;
}

.completed {
  text-decoration: line-through;
  color: #797979;
  opacity: 0.5;
}

input.error {
  border: 1px solid red !important;
}

.error-message {
  color: red;
}
